# Tệp tin và thư mục của các IDE (Môi trường phát triển)
## Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## JetBrains Rider
.idea/

# Tệp tin người dùng cụ thể cho dự án
## Visual Studio C++ Project
*.vcxproj.user

## Visual Studio C# Project
*.csproj.user

# Kết quả build
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Ww][Ii][Nn]32/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/

# .NET Core
project.lock.json
project.fragment.lock.json
artifacts/

# ASP.NET Scaffolding
ScaffoldingReadMe.txt

# NuGet Packages
*.nupkg
# NuGet Symbol Packages
*.snupkg

# Tệp tin khác
~$*
*~
CodeCoverage/

# MSBuild Binary and Structured Log
*.binlog

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

# NUnit
*.VisualState.xml
TestResult.xml
nunit-*.xml